labs/activity4-telegram-agent/Activity4b-Telegram-Data-Table.json
{
  "name": "Activity 4b — Telegram Agent + Data Table Tool (HR Admin)",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "(Input your system message here)"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -16,
        -16
      ],
      "id": "56dcd205-78bc-4015-b351-53672b77cdd2",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -144,
        192
      ],
      "id": "dc4eac78-8091-44d7-8794-5d92ddca5883",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "w0swY8NVTJRrkutT",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -256,
        -16
      ],
      "id": "b13aa8aa-dc29-4d5a-a79c-7982a320dade",
      "name": "Telegram Trigger",
      "webhookId": "56355b3e-78c6-464e-afd6-cef483a7f940",
      "credentials": {
        "telegramApi": {
          "id": "EpxzvEvPKXXJY2Xg",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        352,
        -16
      ],
      "id": "91240816-b41f-445c-9888-83cd1cbdf8f4",
      "name": "Send a text message",
      "webhookId": "e226f6cd-28c4-4256-b5fa-975fb6ed534b",
      "credentials": {
        "telegramApi": {
          "id": "EpxzvEvPKXXJY2Xg",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        0,
        192
      ],
      "id": "9a1902b5-afc9-4418-94af-4c7fa5ed9828",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "bf772c01-3483-4d08-8881-0c2b5a6e1545",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d03c6bed3240b308b4de832c94327c52a87e08eced8e5ff6ba01d3ae6a3aa507"
  },
  "nodeGroups": [],
  "id": "NZz61IdjL4QamIXb",
  "tags": []
}