labs/activity8-guardrails/Activity8 - Dashboard Data (Leave Balance & History).json
{
  "name": "Activity8 - Dashboard Data (Leave Balance & History)",
  "nodes": [
    {
      "parameters": {
        "path": "hr-dashboard",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "2a6aa94c-a85f-4893-8fd7-621ec16a940a",
      "name": "Dashboard Request",
      "webhookId": "44b9571b43134e63"
    },
    {
      "parameters": {
        "jsCode": "\n// Simulated HR leave data. Looked up by email (query param), case-insensitive.\nconst email = ($json.query && $json.query.email ? String($json.query.email) : '').toLowerCase().trim();\nconst db = {\n  'staff@tertiaryinfotech.com': { name: 'Alex Tan',  entitlement: 18, annualTaken: 6, medicalTaken: 2 },\n  'angch@tertiaryinfotech.com': { name: 'Ang Chew Hoe', entitlement: 18, annualTaken: 3, medicalTaken: 0 },\n};\nconst def = { name: 'Staff Member', entitlement: 14, annualTaken: 4, medicalTaken: 1 };\nconst r = db[email] || def;\nconst annualBalance = r.entitlement - r.annualTaken;\nconst medicalEntitlement = 14;\nreturn [{ json: {\n  name: r.name,\n  email: email || 'staff@tertiaryinfotech.com',\n  annual:  { entitlement: r.entitlement, taken: r.annualTaken, balance: annualBalance },\n  medical: { entitlement: medicalEntitlement, taken: r.medicalTaken, balance: medicalEntitlement - r.medicalTaken },\n  recent: [\n    { type: 'Annual',  dates: '2026-05-12 → 2026-05-13', days: 2, status: 'Approved' },\n    { type: 'Medical', dates: '2026-04-02',               days: 1, status: 'Approved' },\n    { type: 'Annual',  dates: '2026-06-30 → 2026-07-01', days: 2, status: 'Pending'  },\n  ],\n} }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ],
      "id": "c609c485-1ecb-47c4-a8d4-0cf11a0439d7",
      "name": "Build Dashboard Data"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        480,
        0
      ],
      "id": "9db8dc12-b601-4e73-90a1-7aa0309eb911",
      "name": "Respond Dashboard"
    }
  ],
  "pinData": {},
  "connections": {
    "Dashboard Request": {
      "main": [
        [
          {
            "node": "Build Dashboard Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Dashboard Data": {
      "main": [
        [
          {
            "node": "Respond Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "2b08bf59-3ab8-4c69-9f6d-87c72d1b5f71",
  "meta": {
    "instanceId": "fcdd11be6122db515fd1e031acff4a3eeab5f077f43f29bb025528511f775668"
  },
  "nodeGroups": [],
  "id": "YObVmDZsdQP41Xbp",
  "tags": []
}