labs/activity7-rag/Activity7b-Pinecone-Upload.json
{
  "name": "Activity 7b — Upload Documents to Pinecone",
  "nodes": [
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "microwave",
          "mode": "list",
          "cachedResultName": "microwave"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        256,
        112
      ],
      "id": "9a0323d8-4af8-4db6-bf62-0f5725c3b734",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "ExVdpCgW9yebnO4F",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        176,
        416
      ],
      "id": "0c5144f3-aae4-4841-9dfe-03302ad03525",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "HncP6z2nrPdrEcFY",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        400,
        320
      ],
      "id": "050390fb-7963-416d-9b84-f3b394a5c699",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 1024
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterTokenSplitter",
      "typeVersion": 1,
      "position": [
        496,
        528
      ],
      "id": "f6fd5771-3399-48cd-b67e-3131a505096e",
      "name": "Token Splitter"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rag-upload",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -320,
        112
      ],
      "id": "bb089fdb-9642-499b-9c29-1c5990296a4f",
      "name": "Upload Webhook",
      "webhookId": "5cea0e3d-728c-4737-8e51-d1ac4a22f91f"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6e2b2a5e-860b-41ef-b5b9-df29b41925c2",
              "name": "documents",
              "value": "={{ $json.body.documents[0] }}",
              "type": "string"
            },
            {
              "id": "b4ca3d72-c252-4233-b47f-ecd63ac42b47",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -32,
        112
      ],
      "id": "8a30c55f-ebdc-417c-a433-c20097a7bab5",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Token Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Upload Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "70a6a83c-04af-4aa9-aced-6ddd212d345a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fcdd11be6122db515fd1e031acff4a3eeab5f077f43f29bb025528511f775668"
  },
  "nodeGroups": [],
  "id": "3JDyT26LLjp5VV5B",
  "tags": []
}