labs/activity7-rag/Activity7b-Pinecone-RAG.json
{
  "name": "Activity 7b — RAG with Pinecone (Telegram)",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "da55be52-2cdc-497c-892c-146f99ea39ff",
      "name": "Telegram Trigger",
      "webhookId": "fa80ce5d-ef2e-4dd2-bc41-eac749188aa6",
      "credentials": {
        "telegramApi": {
          "id": "DxnORFpNl7rYItBc",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=You are a polite and helpful AI assistant embedded in an n8n Telegram chatbot.\n\nMISSION\n- Receive and understand user messages from Telegram.\n- Analyze the user’s intent and respond appropriately.\n- Always reply in a polite, respectful, and friendly tone suitable for chat.\n- Provide clear, concise, and accurate answers.\n- If unsure or lacking information, say so gracefully and offer to escalate to a human agent.\n- The tools provided to answer the question, when relevent.\n\nBEHAVIOR RULES\n- Do NOT discuss or comment on politics, political opinions, or political figures.\n- Avoid offensive, rude, or controversial content.\n- Keep responses short and conversational for a chat-based environment.\n- Ask clarifying questions if the user’s request is unclear.\n\nFALLBACK\n- If you cannot answer the query, respond politely:\n  \"I'm not sure about that 🤔 Please hold on while I connect you with our support team.\"\n\nSAFETY\n- Do not collect or store sensitive personal information.\n- Never provide medical, legal, or financial advice.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        224,
        0
      ],
      "id": "7c85942a-e699-4c79-b952-47d101c6ca41",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}\n",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        592,
        0
      ],
      "id": "13fbc22b-3e6a-4719-b5c0-a3ffa0ebbc02",
      "name": "Telegram",
      "webhookId": "669e63a7-692a-4cba-98cb-53bde68b05ba",
      "credentials": {
        "telegramApi": {
          "id": "DxnORFpNl7rYItBc",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        288,
        192
      ],
      "id": "aac8d1a4-f63f-45c7-a4a4-e42cf3773571",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        96,
        208
      ],
      "id": "fe9ae147-e8d1-4d3f-a3d3-85ca665577d9",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "HncP6z2nrPdrEcFY",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "this a microwave manual",
        "pineconeIndex": {
          "__rl": true,
          "value": "microwave",
          "mode": "list",
          "cachedResultName": "microwave"
        },
        "topK": 10,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        448,
        256
      ],
      "id": "a87e8234-d411-4a45-8c6d-635935c5cd36",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "ExVdpCgW9yebnO4F",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        448,
        464
      ],
      "id": "eb82206a-89fa-439c-859f-59514386a1fa",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "HncP6z2nrPdrEcFY",
          "name": "OpenAI account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e96ce05b-08f2-48d0-9753-87672cfdd5bd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fcdd11be6122db515fd1e031acff4a3eeab5f077f43f29bb025528511f775668"
  },
  "nodeGroups": [],
  "id": "zdLxSRSAqiJTblo9",
  "tags": []
}