labs/activity7-rag/Activity7-RAG-Telegram.json
{
  "name": "Activity 7 — Telegram Agent + RAG (Two Knowledge Sources)",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Route each question to the right source. Use the knowledge_base tool for policy/FAQ/benefits questions and the Data Table tool for staff-record questions. Never mix the two. User message: {{ $json.message.text }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        0,
        0
      ],
      "id": "e0c063af-578a-494b-93c6-9a0f76c6942e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "u1ngyP3q4jgpdvCW",
          "mode": "list",
          "cachedResultName": "rsvp sample",
          "cachedResultUrl": "/projects/7S0xyLkjOJLVAi5v/datatables/u1ngyP3q4jgpdvCW"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1.1,
      "position": [
        208,
        208
      ],
      "id": "487d3fcd-1c8a-4403-b0fa-f475b96801a1",
      "name": "Get row(s) in Data table"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -128,
        208
      ],
      "id": "ac1e7918-6464-41c3-ab29-442ae05fb12b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "HncP6z2nrPdrEcFY",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -256,
        0
      ],
      "id": "32ed62cd-e1a9-40b1-b35b-4cf67bfe84db",
      "name": "Telegram Trigger",
      "webhookId": "56355b3e-78c6-464e-afd6-cef483a7f940",
      "credentials": {
        "telegramApi": {
          "id": "DxnORFpNl7rYItBc",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        368,
        0
      ],
      "id": "013f1fff-31ea-43d2-a535-7ef1e454544a",
      "name": "Send a text message",
      "webhookId": "e226f6cd-28c4-4256-b5fa-975fb6ed534b",
      "credentials": {
        "telegramApi": {
          "id": "DxnORFpNl7rYItBc",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        16,
        208
      ],
      "id": "c52d6d20-82ad-47fd-91de-a005d5cd16ec",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rag-upload",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -544,
        560
      ],
      "id": "ad0c0f3a-ba1c-49c4-9dd6-3f859f5a58fe",
      "name": "Upload Webhook",
      "webhookId": "5cea0e3d-728c-4737-8e51-d1ac4a22f91f"
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "value": "sop",
          "mode": "list",
          "cachedResultName": "sop"
        },
        "clearStore": true
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        16,
        560
      ],
      "id": "8d5dfb95-8759-4668-b349-2af514231049",
      "name": "Simple Vector Store"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        144,
        784
      ],
      "id": "47ae14d4-65b9-4a5a-88d6-1932cfb4c37e",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -80,
        784
      ],
      "id": "4e0195f3-3975-460e-80f2-07d9c41d3a4a",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "HncP6z2nrPdrEcFY",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "this is the SOP of HR and IT documents",
        "memoryKey": {
          "__rl": true,
          "value": "sop",
          "mode": "list",
          "cachedResultName": "sop"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        448,
        256
      ],
      "id": "af13306e-831c-4db1-b285-5faf42c5edcc",
      "name": "Simple Vector Store1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        448,
        448
      ],
      "id": "38897a69-5c27-4800-acac-c2270fce530d",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "HncP6z2nrPdrEcFY",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6e2b2a5e-860b-41ef-b5b9-df29b41925c2",
              "name": "documents",
              "value": "={{ $json.body.documents[0] }}",
              "type": "string"
            },
            {
              "id": "b4ca3d72-c252-4233-b47f-ecd63ac42b47",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -256,
        560
      ],
      "id": "4ae23fdd-087f-4740-9903-866e85ab19b7",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Get row(s) in Data table": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Upload Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Simple Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "201ae8cb-cddd-4947-977b-1fd65ebe22b8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fcdd11be6122db515fd1e031acff4a3eeab5f077f43f29bb025528511f775668"
  },
  "nodeGroups": [],
  "id": "vAzva3TIKzOZk82w",
  "tags": []
}